build/
dist/
qctoolkit.egg-info/
fileList.txt
**.swp
**.pyc
qctoolkit/test/
qctoolkit/.test-old/
branchUpdate.sh
initialize.sh
install.sh
masterUpdate.sh
qctoolkit/projects/initialize.py
qctoolkit/QM/old
